.DS_Store
*~
*#
*.a
*.o
*.so
*.dylib
*.swp
*.dSYM
*.dll
*.rlib
*.dummy
*.exe
*-test
/bin/main
/bin/test-internal
/bin/test-external
/doc/
/target/
/build/
/.rust/
rusti.sh
watch.sh
/examples/**
!/examples/*.rs
!/examples/assets/
*Cargo.lock
/tcod_sys/target/
!/tcod_sys/libtcod/SDL*.dll
!/tcod_sys/libtcod/dependencies/**
